<footer class="footer pt-4">
  <div class="container">
    <div class="row py-2">
      <div class="col-md-6 col-lg-2">
        <div class="footer-item">
          <h4 class="footer-item-title text-uppercase">company</h4>
          <ul class="footer-links p-0">
            <li class="my-2"><a href="#">FAQ</a></li>
            <li class="my-2"><a href="#">About</a></li>
            <li class="my-2"><a href="#">Careers</a></li>
            <li class="my-2"><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="footer-item">
          <h4 class="footer-item-title text-uppercase">help & contact</h4>
          <ul class="footer-links p-0">
            <li class="my-2"><a href="#" class="d-flex align-items-center">
              <i class="d-flex align-items-center bi bi-info-circle"></i>
              <span class="ms-2">Help Center</span>
            </a></li>
            <li class="my-2"><a href="#" class="d-flex align-items-center">
              <i class="d-flex align-items-center bi bi-envelope"></i>
              <span class="ms-2">Email us</span>
            </a></li>
            <li class="my-2"><a href="#" class="d-flex align-items-center">
              <i class="d-flex align-items-center bi bi-telephone"></i>
              <span class="ms-2">080-4566-0990</span>
            </a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-lg-2">
        <div class="footer-item">
          <h4 class="footer-item-title text-uppercase">more from us</h4>
          <ul class="footer-links p-0">
            <li class="my-2"><a href="#">Party Order</a></li>
            <li class="my-2"><a href="#">Takeaway</a></li>
            <li class="my-2"><a href="#">FreshClub</a></li>
            <li class="my-2"><a href="#">Offers</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-lg-5">
        <div class="footer-item">
          <h4 class="footer-item-title text-uppercase">more from us</h4>
          <div class="input-group mb-3 subscribe-form">
            <input type="text" class="form-control border-0" placeholder="Enter your email">
            <button type="submit" class="input-group-text border-0 text-white">Subscribe</button>
          </div>
          <div class="store-btns d-flex align-items-center mt-4">
            <a href="#" class="d-inline-block">
              <img src="../../../assets/app-store.svg" />
            </a>
            <a href="#" class="d-inline-block">
              <img src="../../../assets/google-play.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom py-4">
    <div class="container">
      <div class="d-flex align-items-center flex-wrap">
        <p class="mb-0 text-uppercase text-white me-4">categories</p>
        <ul class="m-0 p-0 d-flex align-items-center flex-wrap">
          <li class="me-4"><a href="#">Mains</a></li>
          <li class="me-4"><a href="#">Pizzas</a></li>
          <li class="me-4"><a href="#">Salads</a></li>
          <li class="me-4"><a href="#">Desserts</a></li>
          <li class="me-4"><a href="#">Quickbites</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
