@import "../../../styles.scss";

.navigation-menu{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .navbar-brand{
    font-size: 24px;
    font-weight: 700;
    img{
      width: 48px;
    }

    span{
      color: $color-red;
    }
  }

  .navbar-toggler{
    font-size: 24px;
  }

  .input-group{
    max-width: 520px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px!important;
    overflow: visible;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .btn-group{
    .btn{
      min-width: 100px;
      padding: 6px;
      font-weight: 400;
      letter-spacing: 0.05em;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 15px;

      &:last-child{
        border-color: $color-red;
        background-color: $color-red;
      }
    }
  }

  .cart-btn{
    font-size: 24px;

    .cart-value{
      position: absolute;
      top: 3px;
      right: -5px;
      font-size: 12px;
      width: 18px;
      height: 18px;
      background-color: $color-dark;
      border-radius: 50%;
      color: $color-white;
      font-weight: 700;
    }
  }
}

